.control-header {
    width: 98%;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 4px solid #ffd000;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.control-header h2{
    font-weight: 800;
    font-family: 'Orbitron', sans-serif;
    color: #ffd000; 
    letter-spacing: 2px; 
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
}
.racemode-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.racemode-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
    max-width: 800px;
}
.racemode-grid button {
    width: 100%;
    color: white;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}
.racemode-grid :nth-child(1) button {
    background-color: green;
}
.racemode-grid :nth-child(2) button {
    background-color: red;
}
.racemode-grid :nth-child(3) button {
    background-color: orange;
}
.racemode-grid :nth-child(4) button {
    background-color: white;
    color: black;
}
.racestart-btn {
    margin-top: 20px;
}
.racestart-btn button {
    width: 30%;
    background-color: #ffd000;
    color: black;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}
.raceend-btn {
    margin-top: 20px;
}
.raceend-btn button {
    width: 30%;
    background-color: #ffd000;
    color: black;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}