/* ==========> SAIDIÜLESED BAASSÄTTED <========== */
/* eemaldame brauseri vaikesätted (sageli igal lehitsejal
mingi oma padding jne.
EHK kasutame vana-head  " * {} "
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

/* ==========> ELEMENDIPÕHINE VORMING <========== */
/* stiliseerime React-iga sätestatut: */
.container {
  /*paneme taimeri-divi kogu ekraani täitma */
  min-height: 100vh;
  width: 100%;

  /* lisame div-konteinerile tausta */
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* järgnevad omadused pärivad main-layout divi sees olevad
OTSESED LAPS-DIV-id !!!! st peab react-i return-is jälgima, et
"puu" oleks õigesti struktureeritud! */
.main-layout {
  display: flex; /* laps-elemendud kõrvuti */
  flex-direction: row; /* vaikseade, aga hea on olla konkreetne*/
  justify-content: center; /* keskjoonel hor.järgi */
  align-items: flex-start; /* järjestamine algab ülalt */
  gap: 40px; /* vahe 2 div-i vahel */
  margin-top: 20px;
  width: 100%;
}
.timer-section {
  flex: 1; /* pool ekraanist */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 300px;
  padding: 20px;
  /* saaks ka borderi teha, aga ma esialgu ei taha */
}
/* kui algselt olid timersection ja lapui omadused täpselt
samad, siis nüüd mitme rajanupu tekitamisega ei saa neile enam
loetelus ühiseid omadusi panna, sest RACER-GRID on timeri kõrval
uus main-layout laps ning tema sisu erineb mõnevõrra
taimeri omast */

.lap-tracker-ui {
  flex: 1; /* iga sõitja ala koguruudustikus sama lai */
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 20px;
  /* vaatan, kuidas visuaalselt on, enne kui lisan äärised (border*/
}
.racers-grid {
  flex: 1; /* ikka pool koguekraanist taimeri kõrval */
  display: flex;
  flex-direction: row; /* kõrvuti (esialgu) */
  gap: 20px; /* et oleks ka norm hingamisruum vahel*/
  flex-wrap: wrap; /* kui lisada objekte juurde, siis kui enam
  ühte ritta ei mahu, luuakse uus rida jne */
  align-items: stretch; /* tagab sama kõrguse */
}

.lap-row {
  font-size: 20px;
  color: white;
}
.lap-row-golden {
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
  background-color: rgba(0, 0, 0, 0.5);
  /* saamaks vaid läbipaistvat TAUSTA (mitte kogu div-i, tuleb kasutada
  rgba väärtusi ühes läbipaistvuse väärtusega! */
}

.timer-display {
  font-size: 80px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.lap-display {
  display: flex;
  flex-direction: column; /* garanteerib, et kaks tekstivälja on
  teineteise all */
  gap: 10px;
  margin-bottom: 20px;
}

.danger {
  color: red;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* megasuure nupu saavutamine: */
.lap-button {
  width: 100%;
  margin-top: auto; /* surub allapoole, kui mõni muu kast on kõrgem */
  padding: 40px; /* raske mööda vajutada */
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  display: block; /* tagab täislaiuse */
}
.lap-button.active {
  background-color: greenyellow;
  color: white;
}
.lap-button.disabled {
  background-color: darkolivegreen;
  color: grey;
  cursor: not-allowed;
}